client/**/*.js
!client/js/bootstrap.js
!client/js/bootstrap.min.js
!client/js/jquery-3.1.1.min.js
client/**/*.js.map
node_modules
.tscache
typings/
tscommand-*
src/**/*.js
src/**/*.js.map
*.dat
*.swp
*~
*.log
.DS_Store
lib/

app.js
app.js.map
