#flex-parent {
    height: 550px;
    width: 100%;
}

#flex-parent a {
    display: inline-block;
    text-decoration: none;
    text-align: left;
}

#test-video {
    height: 100px; 
    width: 100px; 
    margin: 20px;
    text-transform: none;
}

#test-video .icon {
    height: 100px; 
    width: 100px; 
    background-color: gray; 
    margin-bottom: 10px;
}


#featured-videos {
    margin-bottom: 15px;
}

.video-thumb {
    box-shadow: 3px 3px 3px #888888;
    margin-bottom: 8px;
}

.video-thumb-link {
    cursor: pointer;
}

.video-thumb-link:hover {
    text-decoration: none;
}

.video-thumb-text {
    font-size: large;
    font-weight: bolder;
}

.video-thumb {
    width: 100%;
}

.main-featured {

}

.side-featured {
}

.super-duper-cool-hr {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}