

#navbar .navbutton a {
    float: right;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}



#upload {

    background-color: #EAEAEA;
    display: inline-block;

    padding: 10px 20px;

    position: fixed;
    bottom: 50px;
    right: 50px;

    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    text-align: center;

    border-radius: 5px;

}

#upload:hover {
    background-color: #7FB17F;
}

#upload i {
    margin-right: 5px;
}

.frame {
    border: dashed 1px #D3D3D3;
    color: #D3D3D3;
    text-align: center;
    text-transform: uppercase;
}

#flex-parent {
    display: flex;
    margin-top: 20px;
}

/*Navigation Bar*/
.navbar {
    background: #1A181D;
    font-size: 150%;
    height: 65px;
    padding-top: 7px;
}

.navbar-right > span {
    color: white;
}

.navbar-right-text {
    color: #E2DDDD;
}

.navbar-right-bar {
    color: #F53240;
    font-size: 150%;
}

.navbar-brand-text {
    color: #F53240;
    font-weight: bolder;
    font-size: 150%
}


/*Shared CSS Properties*/
.content {
    margin-left: 4%;
    margin-right: 4%;
}