body {
    margin: 50px 7.5%;
    font-family: sans-serif;
}

#navbar {
    width: 85%;
    margin: 30px 0px;
    display: table;
}

#navbar .navbutton a {
    float: right;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

#navbar #logo {
    display: inline-block;
    margin: 0px;
    text-decoration: none;
    color: #3F3F3F;
    cursor: pointer;
}

#navbar #logo:hover {
    color: #151515;
}

#navbar #logo h1 { 
    margin: 0px;
}

#navbar #logo h2 { 
    font-size: 14px;
    font-weight: 100;
    color: gray;
    margin: 0px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

#upload {

    background-color: #EAEAEA;
    display: inline-block;

    padding: 10px 20px;

    position: fixed;
    bottom: 50px;
    right: 50px;

    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    text-align: center;

    border-radius: 5px;

}

#upload:hover {
    background-color: #7FB17F;
}

#upload i {
    margin-right: 5px;
}

.frame {
    border: dashed 1px #D3D3D3;
    color: #D3D3D3;
    text-align: center;
    text-transform: uppercase;
}

#flex-parent {
    display: flex;
    margin-top: 20px;
}